@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$c-gradient: linear-gradient(to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
$c-gradient--vertical: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));


$c-very-light-grayish-blue: hsl(240, 78%, 98%);
$c-light-grayish-blue: hsl(234, 14%, 74%);
$c-grayish-blue: hsl(233, 13%, 49%);
$c-dark-grayish-blue: hsl(232, 13%, 33%);

// Resets ===============================================
body {
    background-color: $c-very-light-grayish-blue;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}



// Main ===============================================

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.title {
    color: $c-grayish-blue;
    font-family: 'Montserrat';
    
    margin-bottom: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    .options__txt {
        font-family: 'Montserrat';
        color: $c-light-grayish-blue;
    }
    .options__txt--margin-right {
        margin-right: 1.5rem;
    }
    .options__txt--margin-left {
        margin-left: 1.5rem;
    }

    margin-bottom: 2rem;
}

.toggle-btn {
    cursor: pointer;
    background-image: $c-gradient;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1.9rem;
    width: 3.2rem;

    border-radius: 1rem / 50%;
    .toggle-btn__design {
        background-color: white;

        justify-self: flex-end;

        width: 1.45rem;
        height: 1.45rem;
        border-radius: 50%;

        margin-right: .25rem;
        margin-left: .25rem;

        transition: transform 300ms ease-out;
    }
}
.toggle-btn--off {
    .toggle-btn__design {
        transform: translateX(-1.30rem);
    }
}
.toggle-btn:active {
    opacity: .5;
}

.card {
    background-color: white;

    width: 18rem;
    padding: 2rem 2rem;

    border-radius: 9px;
    
    .card__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__title {
        color: $c-grayish-blue;

        font-family: 'Montserrat';
        font-size: 1.2rem;

        margin-bottom: 1.2rem;
    }

    .card__price {
        display: flex;
        
        color: $c-dark-grayish-blue;

        align-items: center;
        font-family: 'Montserrat';
        font-size: 4.2rem;

        margin-bottom: 1.5rem;
        
    }
    .card__price--small-font-size {
        font-size: 2.4rem;
        margin-right: .4rem;
    }

    .card__txt {
        color: $c-grayish-blue;

        font-family: 'Montserrat';
        font-size: .9rem;

        padding: 1rem;
    }
    .card__item__divider:last-of-type {
        margin-bottom: 1.6rem;
    }

    .card__item__divider {
        width: 100%;
        height: 1px;
        background-color: lighten($c-light-grayish-blue, 18%);
        
    }
}
.card--color-diff {
    background-image: $c-gradient--vertical;

    .card__title, .card__price, .card__txt {
        color: white;
    }
    .card__item__divider {
        background-color: lighten($c-light-grayish-blue, 1%);
        
    }
}
.card--center-card {
    padding: 3.6rem 2rem;
}

.btn {
    cursor: pointer;
    color: white;
    background-image: $c-gradient;
    width: 100%;

    font-family: 'Montserrat';
    font-size: .9rem;

    letter-spacing: .08rem;

    padding: .8rem;

    border: solid 1px $c-light-grayish-blue;
    border-radius: 5px;

    text-transform: uppercase;
}
.btn:active {
    background-image: none;
    background-color: transparent;
    color: hsl(236, 52%, 61%);
}
.btn--color-diff {
    background-image: none;
    background-color: white;
    color: hsl(236, 52%, 61%);
    border-color: white;
}
.btn--color-diff:active {
    background-image: none;
    background-color: transparent;
    color: white;
}



// TESTING ============================================

.testing__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.testing--display-none {
    display: none;
}