@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
body {
  background-color: #f6f6fe;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.design-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
}

.design-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  color: #6d708d;
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 2rem;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.options .options__txt {
  font-family: 'Montserrat';
  color: #b3b5c6;
}

.options .options__txt--margin-right {
  margin-right: 1.5rem;
}

.options .options__txt--margin-left {
  margin-left: 1.5rem;
}

.toggle-btn {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.9rem;
  width: 3.2rem;
  border-radius: 1rem / 50%;
}

.toggle-btn .toggle-btn__design {
  background-color: white;
  justify-self: flex-end;
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
  margin-right: .25rem;
  margin-left: .25rem;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.toggle-btn--off .toggle-btn__design {
  -webkit-transform: translateX(-1.3rem);
          transform: translateX(-1.3rem);
}

.toggle-btn:active {
  opacity: .5;
}

.card {
  background-color: white;
  width: 18rem;
  padding: 2rem 2rem;
  border-radius: 9px;
}

.card .card__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__title {
  color: #6d708d;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.card .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #494c5f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
}

.card .card__price--small-font-size {
  font-size: 2.4rem;
  margin-right: .4rem;
}

.card .card__txt {
  color: #6d708d;
  font-family: 'Montserrat';
  font-size: .9rem;
  padding: 1rem;
}

.card .card__item__divider:last-of-type {
  margin-bottom: 1.6rem;
}

.card .card__item__divider {
  width: 100%;
  height: 1px;
  background-color: #e8e8ed;
}

.card--color-diff {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(#a3a8f0, #696fdd);
}

.card--color-diff .card__title, .card--color-diff .card__price, .card--color-diff .card__txt {
  color: white;
}

.card--color-diff .card__item__divider {
  background-color: #b6b8c8;
}

.card--center-card {
  padding: 3.6rem 2rem;
}

.btn {
  cursor: pointer;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  width: 100%;
  font-family: 'Montserrat';
  font-size: .9rem;
  letter-spacing: .08rem;
  padding: .8rem;
  border: solid 1px #b3b5c6;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn:active {
  background-image: none;
  background-color: transparent;
  color: #686fcf;
}

.btn--color-diff {
  background-image: none;
  background-color: white;
  color: #686fcf;
  border-color: white;
}

.btn--color-diff:active {
  background-image: none;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 1100px) {
  .design-top {
    position: absolute;
    top: 0;
    right: -60%;
    z-index: -99;
  }
  .design-bottom {
    display: none;
  }
  .card-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    margin-top: 2rem;
  }
  .card {
    max-width: 70vw;
    margin-bottom: 2rem;
  }
  .card--center-card {
    padding: 2rem 2rem;
  }
}

.testing__container {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testing--display-none {
  display: none;
}
/*# sourceMappingURL=main.css.map */